"\Process(sqlwriter)\% Processor Time"
"\Process(sqlwriter)\Handle Count"
"\Process(sqlwriter)\IO Other Bytes/sec"
"\Process(sqlwriter)\IO Read Bytes/sec"
"\Process(sqlwriter)\IO Write Bytes/sec"
"\Process(sqlwriter)\Private Bytes"
"\Process(sqlwriter)\Thread Count"
"\Process(sqlwriter)\Virtual Bytes"
"\Process(sqlwriter)\Working Set"

"\Process(sqlservr)\% Processor Time"
"\Process(sqlservr)\Handle Count"
"\Process(sqlservr)\IO Other Bytes/sec"
"\Process(sqlservr)\IO Read Bytes/sec"
"\Process(sqlservr)\IO Write Bytes/sec"
"\Process(sqlservr)\Private Bytes"
"\Process(sqlservr)\Thread Count"
"\Process(sqlservr)\Virtual Bytes"
"\Process(sqlservr)\Working Set"

"\Processor(*)\% Processor Time"

"\PhysicalDisk(_Total)\Avg. Disk Queue Length"
"\PhysicalDisk(_Total)\Avg. Disk Read Queue Length"
"\PhysicalDisk(_Total)\Avg. Disk Write Queue Length"